.welcome{
  background-image: url("../img/h_img.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-size: 20px;
  color: white;
}
.logo{
  padding-top: 215px;
}
#mouse{
  margin-top: 210px;
}
.jumbotron{
  text-align: center;
  background-color: white;
}
.service{
  background-image: url("../img/s_image.jpg");
  background-size: cover;
  height: 50vh;
  text-align: center;
  padding-top: 90px;
  color: white;
  font-size: 15px;
}
.container{
  text-align: center;
}
.row img{
padding: 5px;
position: inherit;
}
.contact{
background-image: url("../img/c_image.jpg");
background-size: cover;
height: 50vh;
text-align: center;
padding-top: 10%;
}
.form{
  opacity: 0.4;
}
#design{
  display: none;
}
#development{
  display: none;
}
#product{
  display: none;
}
